
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

#productContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.product {
    box-sizing: border-box;
    width: 30%;
    margin: 10px;
    padding: 15px;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 5px;
    text-decoration: none;
    color: black;
}


@media (max-width: 600px) {
    #productContainer {
        justify-content: center; 
    }

    .product {
        width: 100%; 
    }
}

.product:visited {
    text-decoration: none;
    color: black;
}

.product:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.product-type {
    font-style: italic;
    color: #666;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-top: 10px;
}

h2 {
    margin-bottom: 10px;
}

p {
    margin: 0;
}

.description {
    display: none;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

#productDetails {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#relatedProducts {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.related-product {
    box-sizing: border-box;
    width: 30%;
    margin: 10px;
    padding: 15px;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 5px;
    text-decoration: none;
    color: #333;
    display: block;
    cursor: pointer;
}

.related-product:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-top: 10px;
}

h2 {
    margin-bottom: 10px;
}

p {
    margin: 0;
}

.product-type {
    font-style: italic;
    color: #666;
}

.nav-footer{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.link-button {
    display: inline-block;
    padding: 8px 16px;
    text-decoration: none;
    background-color: #007BFF; 
    color: #ffffff; 
    border: 1px solid #007BFF; 
    border-radius: 4px; 
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease; 

    
}

.link-button:hover,
.link-button:focus {
    background-color: #0056b3; 
    border-color: #0056b3;
    color: #ffffff; 
}