body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

#productDetails {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#relatedProducts {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.related-product {
    box-sizing: border-box;
    width: 30%;
    margin: 10px;
    padding: 15px;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 5px;
    text-decoration: none;
    color: #333;
    display: block;
    cursor: pointer;
}

.related-product:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-top: 10px;
}

h2 {
    margin-bottom: 10px;
}

p {
    margin: 0;
}

.product-type {
    font-style: italic;
    color: #666;
}